header{
    border-bottom: 1px solid black;

    nav{
        width: 100% !important;
        background-color: white;
        a{
            img{
                width: 150px;
            }
        }
        .collapse{
            display: flex;
            align-items: center;
            justify-content: flex-end;
            .navbar-nav{
                margin-right: 100px !important;
                width: 400px;
                display: flex;
                justify-content: space-between;
            }
        }
    }
}