//Colors
$main-color: #585CE9;
$color-white: white;
$main-radius: 8px;
$shadow-light: 0 2px 48px 0 rgba(0, 0, 0, 0.08);
$color-lightest-gray: #F7FAFD;
$main-transition: all .3s ease;
$color-light-black: #3B566E;
$color-black: black;
$color-light: #6F8BA4;
//sizes
$section-padding: 70px;
$header-padding: 60px;
$main-font: 'Nunito Sans', sans-serif;
$main-size: 1.125rem;